<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Email Verification</title>
</head>
<body>
  <h2>Hello Thank you for your registration!</h2>
  <p><img src={{src}}></img></p>
  <a href={{redirection}}>Verify your email</a>
</body>
</html>
