<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Donorticon 이메일 인증</title>
  </head>
  <body
    stlye=' width: 100% !important;
        height: 100% !important;
        margin: 0;
        padding: 0;'
  >
    <table
      border='0'
      cellpadding='10'
      cellspacing='0'
      width='600'
      bgcolor='#fff'
      style='
        border: 1px solid #ffce44;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
      '
    >
      <tr>
        <td align='center' style='border-collapse: collapse'>
          <table
            border='0'
            cellpadding='10'
            cellspacing='0'
            width='600'
            style='border-collapse: collapse'
          >
            <tr>
              <td align='center' style='border-collapse: collapse'>
                <img src={{src}} style='display: block' alt='logo' />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style='border-collapse: collapse'>
          <table
            border='0'
            cellpadding='10'
            cellspacing='0'
            width='600'
            style='border-collapse: collapse'
          >
            <tr>
              <td align='center' style='border-collapse: collapse'>
                <h2>Donorticon의 회원이 되신걸 환영합니다!</h2>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style='border-collapse: collapse'>
          <table
            border='0'
            cellpadding='10'
            cellspacing='0'
            width='600'
            style='border-collapse: collapse'
          >
            <tr>
              <td
                align='center'
                style='color: #adadad; line-height: 2'
                style='border-collapse: collapse'
              >
                회원가입 완료를 위한 이메일 인증을 진행해 주세요.
                <br />
                이메일 인증 후 원할한 사이트 이용이 가능합니다.
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style='border-collapse: collapse'>
          <table
            border='0'
            cellpadding='10'
            cellspacing='0'
            width='600'
            style='border-collapse: collapse'
          >
            <tr>
              <td
                bgcolor='#ffce44'
                align='center'
                width='100'
                style='
                  border: 1px solid #ffce44;
                  -webkit-text-size-adjust: none;
                  border-collapse: collapse;
                '
              >
                <a
                  href={{redirection}}
                  style='
                    text-decoration: none;
                    background-color: #ffce44;
                    border: 1px solid #ffce44;
                    font-weight: bold;
                    line-height: 40px;
                    text-align: center;
                    width: 100px;
                    -webkit-text-size-adjust: none;
                  '
                ><font color='#000'>이메일 인증</font></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>